.main {
	&__wrapper {
		inset: 3.4px;
		background-image: linear-gradient(#51087efd, #39045a, #25033a, #1d022f);
		border-radius: 0.5rem;
		padding-inline: 2rem;
		position: absolute;
		z-index: 20;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
}
